.content{
  padding: 25px;
}
.columna {
  //border: solid 1px black;
  //height:100%;
  //width:100%;
}

.card {
  /*height: 200px;*/
  /*width: 200px;*/
  padding: 25px;
  margin: 20 0 0 0;
  border: solid 1px #8a8a8a;
  border-radius: 5px;
  max-width: 550px;
  background-color: #e3e3e3;
}
.text{
  float: left;
}
.title{
  margin-top: 100px;
}
.box{
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 40px;
  border: solid 1px #b2bcff;
  /*height: 200px;*/
  width: 350px;
  text-align: center;
  margin: 0 auto;
  /*margin-top: 100px;*/
}
.ip{
  font-size: x-large;
  float: right;
}
